<div class="text-layout">
    <h1>Decimal Pipe and percentage</h1>
    <p>
        Pipes includes in Angular - Usually in Common Module
    </p>
</div>
<div class="grid">
    <div class="col-4">
        <p-card 
            header="Net Sales"
            subheader="this year"
        >
        <i class="pi pi-dollar"></i>
        {{ (netSales + 10000) | number: '1.2-2' }}
        </p-card>
    </div>

    
    <div class="col-4">
        <p-card 
            header="Gross Sales"
            subheader="this year"
        >
            {{ (netSales + 20000) | currency:'CAD':'symbol-narrow':'1.4-4' }}
        </p-card>
    </div>
    <div class="col-4">
        <p-card 
            header="Parcentage Gain"
            subheader="this year"
        >
            {{ percentage | percent: '2.2-2'}}
        </p-card>
    </div>
   
</div>

