<div class="text-layout">
    <h1>Custom Pipes</h1>
    <p>   
        Pipes created by me
    </p>
</div>
<div class="grid">
    <div class="col col-md-6">
        <p-fieldset 
            [toggleable]="true"
            legend="Custom uppercase">
            <p>
                {{ 'test'| uppercasepipe:inUpperCase }}
            </p>
            <p-button
                    label="Change Person"
                    (onClick)="toogle()"
            ></p-button>
        </p-fieldset>

    </div>
</div>
